#default-navigation-bar ul {
    list-style-type: none;
    padding-left: 0px !important;
}

#default-navigation-bar .nav-item {
  padding: 0.3em;
}

#default-navigation-bar .nav-link {
  color: white !important;
}


#default-navigation-bar .btn-login:hover {
  color: #1e90ff!important;
}

#default-navigation-bar .btn-register:hover {
  background-color: #1e90ff!important;
}

#default-navigation-bar .nav-center .nav-link {
  border-bottom: 2px solid transparent !important;
  transition: ease-in-out 0.2s all;
  padding: 1em 1em;
}

#default-navigation-bar .nav-center .active {
  border-bottom: 2px solid #1e90ff !important;
background-color: #1e90ff;
  border-radius: 5px !important;
}

#default-navigation-bar .nav-center .nav-link:hover {
  background-color: #1e90ff;
  border-radius: 5px;
}

#default-navigation-bar .navbar-brand {
  padding-left: 0.3em;
}

.user-avatar {
  border-radius: 100%;
}

#default-navigation-bar .user-nav {
  padding-left: 0.3em;
  margin-right: 0em !important;
}

#default-navigation-bar .navbar-brand {
  padding-left: 0.5em;
}

@media only screen and (min-width: 1200px) {

  #default-navigation-bar .account {
    position: absolute;
    right: 0;
    padding-right: 1em;
  }

  #default-navigation-bar .navbar-brand {
    padding-left: 1em;
  }

}
#default-navigation-bar #username-nav {
  padding-right: 0.75em !important;
}
#default-navigation-bar #brandname {
  padding-left: 0.75em;
}
