#root {
  margin-top: 100px;
}

#navigation-bar {
  box-shadow: 0 1px 8px rgba(0,0,0,0.3);
  margin-bottom: 2em;
}

#navigation-bar ul {
    list-style-type: none;
    padding-left: 0px !important;
}

/* #navigation-bar .nav-item {
  padding: 0.3em;
} */

#navigation-bar .nav-link {
  color: white !important;
}

#navigation-bar .nav-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

#navigation-bar .nav-center .nav-link {
  border-bottom: 2px solid transparent !important;
  transition: ease-in-out 0.2s all;
}

#navigation-bar .nav-center .nav-link {
  position: relative;
}

#navigation-bar .nav-center .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #1e90ff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#navigation-bar .nav-center .nav-link:hover {
  background-color: #1e90ff;
  border-radius: 5px;
}

#navigation-bar .nav-center .nav-link.active::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

#navigation-bar .nav-center .nav-link.active:hover {
  background-color: rgba(0%, 0%, 100%, 0)!important;
}

#navigation-bar .navbar-brand {
  padding-left: 0.6em !important;
}

#navigation-bar .user-avatar {
  border-radius: 100%;
}

#navigation-bar .user-nav {
  padding-left: 0.3em;
  margin-right: 0em !important;
}

@media only screen and (min-width: 768px) {

  #navigation-bar .account {
    position: absolute;
    right: 0;
    padding-right: 1em;
  }

  #navigation-bar .navbar-brand {
    padding-left: 1em;
  }

}
#navigation-bar #username-nav {
  padding-right: 0.75em !important;
}
#navigation-bar #brandname {
  padding-left: 0.75em;
}

@media only screen and (min-width: 425px) {
  #navigation-bar .nav-center a {
    padding: 1em 1.8em;
  }

  #navigation-bar .nav-center li {
    padding: 0em 0.2em;
  }
}

@media only screen and (max-width: 859px) {
  #navigation-bar #brandname {
    display: none;
  }
  #navigation-bar #username-nav {
    display:none ;
  }
}

@media only screen and (max-width: 768px) {

  #navigation-bar .nav-center a {
    padding: 1em 1.5em;
  }

  #navigation-bar .nav-center li {
    padding: 0em 0.1em;
  }
}

@media only screen and (max-width: 528px) {
  #root {
    margin-top: 150px;
  }

  #navigation-bar .navbar-brand {
    display: block;
    width: 100%;
    color: white;
  }
  #navigation-bar #brandname {
    display: inline-block;
  }
  #navigation-bar .nav-center {
    position: relative;
    left: 0;
    transform: none;
  }
  #navigation-bar .nav-center li {
    padding: 0em 0.2em;
  }
  #navigation-bar .user-nav {
    position: relative;
    padding: 0em !important;
  }
  #navigation-bar .navbar-brand {
    padding-left: 0.3em !important;
  }
}


@media only screen and (max-width: 489px) {

  #navigation-bar .nav-center a {
    padding: 0.6em 1.3em;
  }

  #navigation-bar .nav-center li {
    padding: 0em 0.1em;
  }
}

@media only screen and (max-width: 412px) {
  #navigation-bar .nav-center a {
    padding: 0.5em 0.9em;
  }

  #navigation-bar .nav-center li {
    padding: 0em 0.1em;
  }
}

@media only screen and (max-width: 320px) {
  #navigation-bar .nav-center a {
    padding: 0.5em 0.8em;
  }

  #navigation-bar .nav-center li {
    padding: 0em 0.1em;
  }
}
