#home {
  padding: 1em;
}
h1 {
  font-weight: 700!important;
}
.carousel-inner img {
  margin: auto;
  width: 95%; /* width of container */
  height: 650px; /* height of container */
    border-radius: 10px;
  object-fit: cover;
  object-position: 0.5% 50%;
}

.shadow-text {
  text-shadow: 3px 3px 3px black;
}

#mainCarousel {
  padding: 1em 0em;
}
