.notfound-404 h1 {
  font-weight: 700 !important;
  font-size: 9em !important;
  color: #1e90ff;
}
.notfound p {
  margin-bottom: 2em;
  margin-top: 2em;
}

.notfound {
  margin-top: 30vh;
  margin-bottom: 35vh;
}
