#entry-load .box {
  perspective: 120px;
}

#entry-load .plane {
  width: 2em;
  height: 2em;
  background-color: #1e90ff;
  transform: rotate(0);
  animation: flip 1s infinite;
}

#entry-load {
   position: absolute;
   top: 50%;
   right: 50%;
}

@keyframes flip {
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg) rotateX(180deg);
  }
}
